@using InternshipManagementSystem.Models
@model List<UserModel>

@{
    ViewBag.Title = "LogBookSv";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/bundles/modernizr")
@Styles.Render("~/Content/viewlogbook.css")
@Scripts.Render("//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
@Scripts.Render("/Scripts/jquery.unobtrusive-ajax.js")


<h2>LogBookSv</h2>
<div style="width: 100%; text-align:center; display:block;">
    Keyword <input type="text" id="txtSearch" /><input type="button" id="btnSearch" value="Search" onclick="StartSearch();" />
</div>

<script>
    function StartSearch() {
        var Text = document.getElementById('txtSearch').value;
        window.location.href = '/EvaluationModule/EvaluationSvView/' + Text;
    }
</script>
<table>
    <tr>
        <th></th>
        <th>Matric No</th>
        <th>Full Name</th>
        <th>Company</th>
        <th>State</th>
    </tr>
    @if (ViewBag.Found == false)
    {
        for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>@Html.RadioButtonFor(m => m.Count, Model[i].Username) </td>
                <td>@Model[i].MatricID</td>
                <td>@Model[i].FullName</td>
                <td>@Model[i].CompanyName</td>
                <td>@Model[i].State</td>
            </tr>
        }
    }
    else
    {
        for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>@Html.RadioButtonFor(m => m.Count, Model[i].Username) </td>
                <td>@Model[i].MatricID</td>
                <td>@Model[i].FullName</td>
                <td>@Model[i].CompanyName</td>
                <td>@Model[i].State</td>
            </tr>
        }
    }
</table>

<div class="col-lg-12 well">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-3 form-group" style="margin-bottom: 10px; text-align: center; font-size:medium">
                    <input type="button" id="btnViewLogbook" onclick="ViewLogbook()" value="View Logbook"/>
                </div>
                <div class="col-sm-3 form-group" style="margin-bottom: 10px; text-align: center; font-size:medium">
                    <input type="button" id="btnLogbookEvaluation" onclick="LogbookEvaluation()" value="Logbook Evaluation" />
                </div>
                <div class="col-sm-3 form-group" style="margin-bottom: 10px; text-align: center; font-size:medium">
                    <input type="button" id="btnViewLogbook" onclick="InternshipEvaluation()" value="Internship Evaluation" />
                </div>
                <div class="col-sm-3 form-group" style="margin-bottom: 10px; text-align: center; font-size:medium">
                    <input type="button" id="btnViewLogbook" onclick="PresentationEvaluation()" value="Presentation Evaluation" />
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    function ViewLogbook() {
        var username = document.querySelector('input[name="Count"]:checked').value;
        window.location.href = '/LogbookModule/ViewStudentLogbook?Username=' + username;
    }
    function LogbookEvaluation() {
        var username = document.querySelector('input[name="Count"]:checked').value;
        window.location.href = '/EvaluationModule/LogbookEvaluation?Username=' + username;
    }
    function InternshipEvaluation() {
        var username = document.querySelector('input[name="Count"]:checked').value;
        window.location.href = '/EvaluationModule/InternshipEvaluation?Username=' + username;
    }
    function PresentationEvaluation() {
        var username = document.querySelector('input[name="Count"]:checked').value;
        window.location.href = '/EvaluationModule/PresentationEvaluation?Username=' + username;
    }
</script>

