@model List<InternshipManagementSystem.Models.AnnouncementModel>

@{
    ViewBag.Title = "Announcements";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Announcements</h2>

<p>
    @if (ViewBag.Role == "Faculty Coordinator")
    {
        @Html.ActionLink("Create New", "AnnouncementFormView")
    }
</p>
<div style="width: 100%; text-align:center; display:block; margin-bottom: 20px;">
    Keyword <input type="text" id="txtSearch" /><input type="button" id="btnSearch" value="Search" onclick="StartSearch();" />
    <br />
</div>

<script>
    function StartSearch() {
        var Text = document.getElementById('txtSearch').value;
        window.location.href = '/GeneralActivityModule/AnnouncementView/' + Text;
    }
</script>
<div id="scrolldiv" style="width:100%; height:400px; overflow-x:hidden; overflow:auto;">
    <table class="table">
        
        @if (ViewBag.Found == true)
        {
            foreach (var item in Model)
            {
            <tr>
                <td>
                    <div style="display: inline-block; font-size:medium; text-decoration:solid;">
                        @Html.Label(item.Title) 
                    </div>
                    @if (item.Category == "Important")
                    {
                        <label style="display: inline-block; font-size:10px; text-decoration:solid; color:red; vertical-align:top" >
                            *IMPORTANT
                        </label>
                    }
                    <div style="display:inline-block; float: right;">
                        @Html.Label(Convert.ToString(item.Datetime))
                    </div>
                    <br />
                    <div>@Html.Raw(item.Content)</div>
                    <div style="float: right;">
                        @if (ViewBag.Role == "Faculty Coordinator")
                        {
                            @Html.ActionLink("Edit", "AnnouncementFormView",
                  "GeneralActivityModule", new { item.Id }, new { })
                            <div style="display:inline-block;"> | </div>
                            @Html.ActionLink("Delete", "DeleteAnnouncement",
                  "GeneralActivityModule", new { @id = item.Id },
                  new { onclick = "return confirm ('Are you sure you wish to delete this announcement?');" })
                        }
                    </div>
                </td>
            </tr>

            }
        }
        else
        {
            <tr>
                <td>Not Found!</td>
            </tr>
        }

    </table>
</div>

