@model InternshipManagementSystem.Models.UserModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        /* Everything but the jumbotron gets side spacing for mobile first views */
        .header,
        .marketing,
        .footer {
            padding-right: 15px;
            padding-left: 15px;
        }

        /* Custom page header */
        .header {
            border-bottom: 1px solid #e5e5e5;
        }
            /* Make the masthead heading the same height as the navigation */
            .header h3 {
                padding-bottom: 19px;
                margin-top: 0;
                margin-bottom: 0;
                line-height: 40px;
            }

        /* Custom page footer */
        .footer {
            padding-top: 19px;
            color: #777;
            border-top: 1px solid #e5e5e5;
        }

        /* Customize container */
        @@media (min-width: 768px) {
            .container {
                max-width: 730px;
            }
        }

        .container-narrow > hr {
            margin: 30px 0;
        }

        /* Main marketing message and sign up button */
        .jumbotron {
            text-align: center;
            border-bottom: 1px solid #e5e5e5;
        }

            .jumbotron .btn {
                padding: 14px 24px;
                font-size: 21px;
            }

        /* Supporting marketing content */
        .marketing {
            margin: 40px 0;
        }

            .marketing p + h4 {
                margin-top: 28px;
            }

        /* Responsive: Portrait tablets and up */
        @@media screen and (min-width: 768px) {
            /* Remove the padding we set earlier */
            .header,
            .marketing,
            .footer {
                padding-right: 0;
                padding-left: 0;
            }
            /* Space out the masthead */
            .header {
                margin-bottom: 30px;
            }
            /* Remove the bottom border on the jumbotron for visual effect */
            .jumbotron {
                border-bottom: 0;
            }
        }
        #errormessage {
            color: red;
        }
    </style>

</head>
<body>
    @if (Session["UserId"] != null)
    {
        Response.Redirect("~/Home/Index");
    }
    <script>
        function validatePassword() {
            var password = document.getElementById("password").value;
            var confirmpassword = document.getElementById("confirmpassword").value;
            if (password == confirmpassword) {
                return true;
            }
            else {
                var error = document.getElementById("errormessage");
                error.innerHTML = "Your password is not same!";
                return false;
            }
        }
    </script>
    <div class="container">
        <h1 class="well">Registration Form</h1>
        <div class="col-lg-12 well">
            <div class="row">
                @using (Html.BeginForm("Register", "UserModule", FormMethod.Post, new { onsubmit = "return validatePassword()" }))
                {
                    @Html.ValidationSummary(true, "Register failed. Check your registration details.");
                    <p id="errormessage"></p>
                    <h3 style="margin-bottom:20px; text-align:center;">Personal Information</h3>
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6 form-group" style="margin-bottom: 10px; text-align: center; font-size:medium">
                                <label>@Html.RadioButtonFor(u => (u.Roles), "Student")Student</label>
                            </div>
                            <div class="col-sm-6 form-group" style="margin-bottom: 10px; text-align: center; font-size: medium">
                                <label>@Html.RadioButtonFor(u => (u.Roles), "IndustriaL Supervisor")Industrial Supervisor</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label>Username</label>
                                @Html.TextBoxFor(u => (u.Username), new { required = "required", @class="form-control", placeholder ="Enter Username Here.." })
                            </div>
                            <div class="col-sm-6 form-group">
                                <label>Full Name</label>
                                @Html.TextBoxFor(u => (u.FullName), new { required = "required", @class = "form-control", placeholder = "Enter Full Name Here.." })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label>Password</label>
                                @Html.TextBoxFor(u => (u.Password), new { required = "required", @class = "form-control", placeholder = "Enter Password Here..", id ="password", type="password"})
                            </div>
                            <div class="col-sm-6 form-group">
                                <label>Confirm Password</label>
                                <input type="password" id="confirmpassword" placeholder="Enter Password Again.." class="form-control" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label>Matric ID</label>
                                @Html.TextBoxFor(u => (u.MatricID), new { required = "required", @class = "form-control", placeholder = "Enter Matric Here.." })
                            </div>
                            <div class="col-sm-6 form-group">
                                <label>Contact Number</label>
                                @Html.TextBoxFor(u => (u.PhoneNumber), new { required = "required", @class = "form-control", placeholder = "Enter Contact Number Here.." })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label>Email</label>
                                @Html.TextBoxFor(u => (u.Email), new { required = "required", @class = "form-control", placeholder = "Enter Email Here.." })
                            </div>
                            <div class="col-sm-6 form-group">
                                <label>State</label>
                                @Html.TextBoxFor(u => (u.State), new { required = "required", @class = "form-control", placeholder = "Enter State Here.." })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label>Internship Starts on</label>
                                @Html.TextBoxFor(u => (u.InternshipPeriodStart), new { required = "required", @class = "form-control", placeholder = "Enter Email Here..", @type = "date" })
                            </div>
                            <div class="col-sm-6 form-group">
                                <label>Internship Ends on</label>
                                @Html.TextBoxFor(u => (u.InternshipPeriodEnd), new { required = "required", @class = "form-control", placeholder = "Enter State Here..", @type = "date" })
                            </div>
                        </div>

                        <h3 style="margin-bottom:20px; text-align: center;">Company Information</h3>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label>Company Name</label>
                                @Html.TextBoxFor(u => (u.CompanyName), new { required = "required", @class = "form-control", placeholder = "Enter Company Name Here.."})
                            </div>
                            <div class="col-sm-6 form-group">
                                <label>Company Contact</label>
                                @Html.TextBoxFor(u => (u.CompanyContact), new { required = "required", @class = "form-control", placeholder = "Enter Company Contact Number Here.." })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label>Company Address</label>
                                @Html.TextBoxFor(u => (u.CompanyAddress), new { required = "required", @class = "form-control", placeholder = "Enter Company Address Here.." })
                            </div>
                            <div class="col-sm-6 form-group">
                                <label>Industrial Supervisor Full Name</label>
                                @Html.TextBoxFor(u => (u.IndustrySupervisorName), new { required = "required", @class = "form-control", placeholder = "Enter Industrial Supervisor Name Here.." })
                            </div>
                        </div>
                        <div class="row">
                            <button style="align-self:center; margin-left: 40px;" type="submit" class="btn btn-lg btn-info">Submit</button>
                            <button style="align-self:center; margin-right:40px; float:right;" type="button" class="btn btn-lg btn-info" onclick="GoToHome()">Cancel</button>
                        </div>
                        
                    </div>                    
                    }
            </div>
        </div>
    </div>
    <script>
        function GoToHome() {
            window.location.href = '/Home/Index';
        }
    </script>
</body>
</html>
